<clients>
    <client c_ip="192.168.2.101" host="118.89.37.200" user="gpdb_user" db="gpdb" pwd="123qwe" port="3306" />
    <client c_ip="127.0.0.1" host="localhost" user="root" db="gpdb" pwd="123qwe" port="3306" />
    <client c_ip="localhost" host="localhost" user="root" db="gpdb" pwd="123qwe" port="3306" />
    <client c_ip="192.168.1.5" host="118.89.37.200" user="gpdb_user" db="gpdb" pwd="123qwe" port="3306" />
</clients>